{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<img id="grab" style="width:50%; height:50%"></img>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

  document.getElementById('grab').src = "{{ image }}";

</script>
{% endblock %}
