{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<h1>RPI Camera Server Demo Index</h1>
<hr>
<ul>
  <li><a href="/grab" target="_blank">Grab snapshot</a> via standard HTTP GET on page (bit slower)</li>
  <li><a href="/snap" target="_blank">Grab snapshot</a> via Javascript and websockets (fastest)</li>
  <li><a href="/video" target="_blank">Live video stream</a> via Javascript and websockets</li>
</ul>
{% endblock %}

{% block scripts %}
{% endblock %}
