<!DOCTYPE html>
<html>
<head>
    <meta name="google" content="notranslate">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPI Camera Streamer</title>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

    {% block styles %}{% endblock %}
</head>

<body>
  {% block content %}
  {% endblock %}

  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/moment.js"></script>
  <script type="text/javascript" src="/static/js/moment-timezone-with-data.js"></script>
  <script type="text/javascript" src="/static/js/mqttws31.js"></script>

  <script type="text/javascript">
      $(document)
          .ready(function () {
      })
  </script>

  {% block scripts %}{% endblock %}

</body>
</html>
