{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
  <button onclick="snap(event);" style="width:50%">Grab</button>
</div>
<div>
  <img id="video" alt="No Image" style="width:50%; height:50%;"></img>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

  var port = window.location.port;

  if (port.length==0) {
    port = 80;
  }
  else {
    port = parseInt(port);
  }

  const client = new Paho.MQTT.Client(window.location.hostname, port, "/ws", "webclient_"+Math.floor(Math.random()*1000000));

  function snap(e) {
    console.log("Cliiiiick!");

    msg = {
      cmd: 'grab'
    };

    msg = new Paho.MQTT.Message(JSON.stringify(msg));
    msg.destinationName = '/picam_ctl';
    msg.qos = 1;

    client.send(msg);
  }

  client.onMessageArrived = function (message) {
    try {
      document.getElementById('video').src = 'data:image/jpeg;base64,'+message.payloadString;
    }
    catch(e) {
      console.log(e);
    }
  }

  var onConnect = function() {
    console.log('connected');
    client.subscribe('/picam_grab', qos = 0);
  }

  client.connect({
    onSuccess: function () { onConnect(); },
    cleanSession: true,
    userName: '{{ RABBIT_USER }}',
    password: '{{ RABBIT_PASS }}',
    useSSL: false,
    keepAliveInterval: 10
  });

</script>
{% endblock %}
